.header__logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.header__logo-image {
  width: 254px;
  height: 70px;
  padding-top: 34px;
}

@media screen and (max-width: 1024px) {
  .header__logo-image {
    width: 254;
    height: 66;
    padding-top: 30px;
  }
}

@media screen and (max-width: 544px) {
  .header__logo-image {
    width: 188;
    height: 52;
    padding-top: 20px;
  }
}
